

<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DELIVERY TIME PREDICTION</title>
        <div style="background-image: url(https://img.freepik.com/premium-photo/side-view-delivery-man-wearing-superhero-cape_23-2148579167.jpg?w=1380);">
    
        <!-- BootStrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    
        <!-- css -->
        <link rel="stylesheet" href="static/css/styles.css">
        
    
    </head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">DELIVERY TIME PREDICTION BY Pramod Khavare</a>
            </div>
        </div>
    </nav>

    <br><br><br>
    <div class="container">

        <form action="{{url_for('predict_datapoint')}}"  method="POST">
            <div class="form-group">
                <label for="Age">Delivery_person_Age:</label>
                <input type="text" id="Age" name="Delivery_person_Age" placeholder="Enter age of delivery perdon in int">
            </div>

            <div class="form-group">
                <label for="Rating">Delivery_person_Ratings:</label> 
                <input type="text" id="Rating" name="Delivery_person_Ratings" placeholder="Give rating of Delivery Boy (0-5)">
            </div>

            <div class="form-group">
                <label for="vehicle_cond">Vehicle_condition:</label>
                <select id="vehicle_cond" name="Vehicle_condition">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>

            <div class="form-group">
                <label for="multiple_delivery">multiple_deliveries:</label>
                <select id="multiple_delivery" name="multiple_deliveries">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>

            <div class="form-group">  
                <label for="dist">Distance:</label>
                <input type="text" id="dist" name="Distance" placeholder="Enter distance (float)">

                <div class="form-group">
                    <label for="Type_of_order">Type_of_order:</label>
                    <select id="Type_of_order" name="Type_of_order">
                        <option value="0">Snack</option>
                        <option value="1">Meal</option>
                        <option value="2">Drinks</option>
                        <option value="3">Buffet</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Type_of_vehicle">Type_of_vehicle:</label>
                    <select id="Type_of_vehicle" name="Type_of_vehicle">
                        <option value="2">motorcycle</option>
                        <option value="3">'scooter</option>
                        <option value="1">electric_scooter</option>
                        <option value="4">bicycle</option>
                    </select>
                </div> 
  
                <div class="form-group">
                    <label for="Fest">Festival:</label>
                    <select id="Fest" name="Festival">
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="City">City:</label>
                    <select id="City" name="City">
                        <option value="Metropolitian">Metropolitian</option>
                        <option value="Urban">Urban</option>
                        <option value="Semi-Urban">Semi-Urban</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Weather">Weather_conditions:</label>
                    <select id="Weather" name="Weather_conditions">
                        <option value="Fog">Fog</option>
                        <option value="Stormy">Stormy</option>
                        <option value="Sandstorms">Sandstorms</option>
                        <option value="Windy">Windy</option>
                        <option value="Cloudy">Cloudy</option>
                        <option value="Sunny">Sunny</option>

                    </select>
                </div>

                <div class="form-group">
                    <label for="Traffic">Road_traffic_density:</label>
                    <select id="Traffic" name="Road_traffic_density">
                        <option value="Jam">Jam</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                </div>

                <input type="submit" value="Submit">
            </form>
            <br/>
            <br>

            {%if final_result is not none%}
            <h1> Your Delivery Time Is = {{final_result}}</h1>
            {% endif %}
            <br>

            <br>
            <p>Pramod Khavare</p>
            
            
            <!-- JavaScript -->
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
            
            




        </body>
        </html>